.car-card {
    box-shadow: 3px 3px 10px gray;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}

.car-card img {
    width: 280px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}

.btn-cart {
    outline: 0;
    border: 3px solid #353D46;
    padding: 6px 12px;
    width: 100%;
    background-color: #353D46;
    color: #fff;
    border-radius: 8px;
    transition: .2s;
}

.btn-cart:hover {
    background-color: transparent;
    color: #353D46;
}

@media screen and (max-width: 480px){
    .car-card {
        width: 300px;
    }
    .car-card img {
        width: 280px;
    }
}